body{
  background-color:rgb(210,211,215);
}

.bg-orange{
    background-color:rgb(240,97,67);
}
.rcorners {
  border-radius: 10px 10px 0 0;
}
.nav-link{
  color: white!important;
  border-right: 1px solid white;
}
.jumbotron{
  background-color:rgb(254,208,53) ;
  height: 400px;
  margin-bottom:0;
}
.btn{
  background-color: rgb(240,97,67);
  border: none;
}
.bg-red{
  background-color: rgb(237,27,36);
  color: white;
}
.bg-gray{
  background-color: rgb(189,190,194);
  margin-top: 15px;
  color: white;
}
.ikone{
  height: 100px;
  width: 100px;
  margin: 10px 40px;
}
.lista{
  line-height: 40px;
  list-style: none;
  border-right: 1px solid lightgray;
}


